.NavBar {
  width: 90%;
  margin: 0rem auto;
}

.NavBar_box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.NavBar_box_left {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.NavBar_box_left_menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.NavBar_box_left_menu_item {
  font-size: 1.2rem;
}

.NavBar_box_middle_search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}

.NavBar_box_middle input {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1rem;
  color: #cff80b;
}

.NavBar_box_right {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}

.NavBar_box_right_box {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* background-color: #1e1e1e; */
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-transform: capitalize;
}

.NavBar_box_right_box p {
  font-size: 1.2rem;
  line-height: 0;
}

.NavBar_box_right button {
  background-color: rgba(30, 30, 30, 0.5); /* Adjust the opacity as needed */
  border: none;
  outline: none;
  border-radius: 0.5rem;
  padding: 1.2rem 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: transform 0.3s, box-shadow 0.3s;
}

.NavBar_box_right button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 35em) {
  .NavBar {
    width: 90%;
  }
  .NavBar_box {
    grid-template-columns: 0.5fr 1fr;
  }

  .NavBar_box_middle {
    display: none;
  }
  .NavBar_box_left_menu {
    display: none;
  }

  .NavBar_box_right_box {
    display: none;
  }
}
